<div class="header">
    <div><img src="assets/images/logotiktok.png" alt="TikTok Logo"></div>
    <div><input class="search" placeholder="Buscar"></div>
    <div><button class="login-btn">Iniciar sesión</button></div>
</div>
<div class="container">
    <div class="content">
        <video controls>
            <source src="/assets/videos/videotiktok.mp4" type="video/mp4">
        </video>
        <div class="actions">
            <div class="action-item"><img src="assets/images/like.png" alt="Like">23.7K</div>
            <div class="action-item"><img src="assets/images/comentarios.png" alt="Comment">73</div>
            <div class="action-item"><img src="assets/images/guardar.png" alt="Bookmark">883</div>
            <div class="action-item"><img src="assets/images/compartir.png" alt="Share">196</div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="menu-item"><img src="assets/images/home.png" alt="Inicio">Inicio</div>
    <div class="menu-item"><img src="assets/images/siguiendo.png" alt="Amigos">Amigos</div>
    <div class="menu-item"><img src="assets/images/mas.png" alt="LIVE">LIVE</div>
    <div class="menu-item"><img src="assets/images/badeja.png" alt="Bandeja">Bandeja</div>
    <div class="menu-item"><img src="assets/images/perfil.png" alt="Perfil">Perfil</div>
    <div class="button-container">
        <button class="login-btn">Iniciar sesión</button>
        <button class="create-effects-btn">Crea efectos de TikTok</button>
    </div>
</div>